<%-include ("header") %>
<% if (entries.length){%>
    <% entries.forEach(function (entry) {%>
        <div>
            <section>
                <p><%= entry.published %></p>
                <h1><%= entry.title%></h1>
            </section>
            <article>
                <%= entry.content%>
            </article>
        </div>
    <%})%>
<%} else{%>
    No entries! <a href="/new-entry">Add one!</a>
<%}%>
<%-include("footer") %>
